.answers {
  background: #f3f3f3;
  border: 0px;
  border-radius: 5px;
  float: left;
  height: 25px;
  margin: 0px 10px 0px 10px;
  padding: 5px 0px 5px 7px;
  width: 24px;
}

audio {
  border-radius: 5px;
  float: left;
  width: 300px;
}

body {
  font-family: Helvetica;
  margin: 0px;
}

#check-button {
  background: #f2f2f2;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  color: #444444;
  cursor: pointer;
  float: right;
  padding: 5px;
}

#check-button:hover {
  border-color: #d3d3d3;
  box-shadow: 1px 1px 1px 1px #eeeeee;
}

.container {
  background: #d9d9d9;
  border-radius: 5px;
  border: 1px solid #dcdcdc;
  height: 27px;
  margin: 10px auto 10px auto;
  padding: 10px;
  width: 442px;
}

.grades {
  background: #f3f3f3;
  border-radius: 5px;
  float: left;
  height: 15px;
  padding: 5px;
  text-align: center;
  width: 86px;
}

#main-container {
  margin: auto;
  padding: 0px;
  width: 462px;
}